/* PROGRESS BAR */

.progress-bar {
    background: #D8DFE3;
    border-radius: 200px;
    height: 24px;
    position: relative;
}

.progress-bar-usage {
    background: #2CC3F8;
    border-radius: 200px;
    height: 24px;
    width: 35%;
    position: relative;
}

/* PLAN CARD */

.plan {
    background: #ECEFF1;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 4px 4px rgba(0, 0, 0, .24);
    border-radius: 2px;
    overflow: hidden;
    margin: 0 40px;
}

.plan header {
    background: #B0BEC5;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 64px;
    padding: 0 16px;
    text-transform: uppercase;
}

.plan-content {
    padding: 32px;
}

.plan-content h3 {
    color: #546E7A;
    font-size: 18px;
    font-weight: 500;
    line-height: 56px;
    margin: 0;
}

.plan footer {
    padding: 32px;
}

/*
* BUTTON CSS
*
*/

.button {
    background: #00B0FF;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    outline: none;
    padding: 0 16px;
    text-transform: uppercase;
    transition: box-shadow .3s;
}

.inputField {
    background: #ffffff;
    border: none;
    border-radius: 4px;
    color: rgb(43, 40, 40);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    width: 50px;
    line-height: 48px;
    outline: none;
    padding: 0 16px;
    margin-left: 120px;
    text-transform: uppercase;
    transition: box-shadow .3s;
}

.button:hover, .button:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 4px 4px rgba(0, 0, 0, .24);
}

.button.is-success {
    background: #00BFA5;
}